<div class="container" style="margin-top: 50px;">

    <div class="row">
        <p class="text-end"   >Hola {{usuario}} <a class="btn" 
        href="/admin/login/logout">cerrar sesion <i class="fas" ></i></a></p>
    </div>
</div>